*{
  margin:0;
  padding:0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


h2{
  text-align:center;
  text-shadow: 3px 3px 3px rgb(144, 144, 246);
}

.details{
  font-weight: 900;
  display: flex;
  flex-direction: column;
}

table,td,tr{
  border-collapse: collapse;
  padding:4px;
  border:2 px solid black;
}
